<div class="container">
  <div class="row">
    <h3>Book List</h3>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Author</th>
          <th scope="col">Category</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let i = index">
          <td><a routerLink="/book/edit/{{book.id}}">{{book.id}}</a></td>
          <td>{{book.name}}</td>
          <td>{{book.price}}</td>
          <td>{{book.author}}</td>
          <td>{{book.category}}</td>
          <td>
            <a routerLink="/book/edit/{{book.id}}">Edit</a> |
            <a href="" (click)="onDeleteEmployee(book.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
