<div class="container">
  <div class="row">
    <h3>Product List</h3>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col"> Price</th>
          <th scope="col">image</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td><a routerLink="/product/product/{{product.id}}">{{product.id}}</a></td>
          <td>{{product.title}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td> <img src="{{product.image}}" width="50px" height="50px" /> </td>
        </tr> 

      </tbody>
    </table>


  </div>
</div>
